<%= form_tag("/user_login") do %>
  <div class="c_login col-md-offset-5 col-md-2">
    <p>メールアドレス</p>
    <input name="email" >
    <p>パスワード</p>
    <input type="password" name="password">
    <p>
    <input type="submit" value="ログイン">
    </p>
  </div>  
<% end %>