<div class="reply text-center">
    <%= form_tag("/replies/create",{multipart: true}) do %>
      <%= hidden_field_tag :post_id, @post_id %>
      <textarea name="content"></textarea>
      <%= file_field_tag :image_name %>
      <input type="submit" name="送信" >
    <% end %>
</div>