<div class="reply text-center">
    <%= form_tag("/topics/create",{multipart: true}) do %>
      <h>商品詳細</h><br>
      <textarea name="content"></textarea><br>
      <h>お値段</h><br>
      <input name="price"><br>
      <%= file_field_tag :image_name %>
      <input type="submit" name="送信" >
    <% end %>
</div>