<header>
  <div class="top-header">
    <div class="row">
      <div class="col-md-offset-2 col-md-2 logo">
        <%= link_to "地魚マーケット","/tops", class: 'logo' %>
      </div>
      <div class="col-md-2 l-btn">
      　<%= link_to "業者様ログイン","/tops/company_login_form", class: 'btn-l'%>
      </div>
      <div class="col-md-2 l-btn">       
        <%= link_to "お客様ログイン","/tops/user_login_form", class: 'btn-l'%>
      </div>
    </div>
  </div>
</header>
<div class="top-wrapper">
  <%= form_tag("/tops/company_login") do %>
    <div class="c_login col-md-offset-5 col-md-2">      
    <p class='text-white'>メールアドレス</p>
    <input name="email" >
    <p class='text-white'>パスワード</p>
    <input type="password" name="password">
    <p>
    <input type="submit" value="ログイン">
    </p>
    </div>  
  <% end %>
</div>