<%= form_tag("/users/create") do %> 
  <div class="c_login col-md-offset-5 col-md-2">
      <p>ユーザーネーム</p>
      <input name="user_name" >
      <p>名前</p>
      <input name="name">
      <p>電話番号</p>
      <input name="phone_number">
      <p>Eメールアドレス</p>
      <input name="email">
      <p>住所</p>
      <input name="address">
      <p>パスワード</p>
      <input type="password" name="password" placeholder="半角英数字8~32文字">
      <input type="submit" value="新規登録">
  </div>
<% end %>
  