<%= form_tag("/companies/create",{multipart: true}) do %> 
  <div class="c_login col-md-offset-5 col-md-2">
      <p>会社名</p>
      <input name="company_name" >
      <p>Eメール</p>
      <input name="email">
      <p>電話番号</p>
      <input name="phone_number">
      <p>住所</p>
      <input name="address">
      <p>パスワード</p>
      <input type="password" name="password" placeholder="半角英数字8~32文字">
      <p>買参権の写真</p>
      <input name="image_name" type="file">
      <input type="submit" value="新規登録">
  </div>
<% end %>
  