@import "bootstrap-sprockets";
@import "bootstrap";
.navigation{
    padding-top: 70px;
}
.c_login{
    padding-top: 70px;
}
.u_login{
    padding-top: 70px;
}
.c-show{
    padding-top: 20px;
}
.p-index{
    padding-top: 20px;
}
.c-image{
    display: inline-block;
}